
<section class='projects-page' id='about'>
  <p class='switch'> <a href ng-click='page.selectPage(2)'> Portfolio </a> </p>
  <h2 class='mid'> Simpli<span class='white'>c</span>ity <span class='white'> - </span> Effi<span class='white'>c</span>ian<span class='white'>c</span>y Te<span class='white'>c</span>hnology </h2>  
  <p class='blurb'> As a Junior, Full-Stack Web Developer I am looking for a challenging project to hone my coding skills and learn from a talented team. I love simple, elegant code that creates well-functioning, user-oriented products with an adaptable, robust backend. I am not afraid of hard work, long hours, or a full-plate of projects. I have a wide range of interests, with a background in genetics research, music production, and over 6 years of Balinese Gamalan—but I love nothing more than coding. </p>
</section>

