<div class="container landing">
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 class="main-title"><span>K<span class='pink'>O</span>PI</span><br> <span class="thin">SUSU</span></h1>
    <div ng-controller="ScrollController">
      <p class='main-blurb'> </p>
      <p class='main-blurb'> 
        <span class='color-change' ng-click="gotoPortfolio()">Portfolio</span> - 
        <span class='color-change' ng-click="gotoAbout()">About</span> - 
        <span class='color-change' ng-click="gotoSkills()">Skills</span></a> 
      </p>
    </div>
  </div>
  <div class='side-bar'>
    <div class='side'>
        <img src='../images/email.png'></a>
      <p> Komangwluce@gmail.com </p>
    </div>
    <div class='side'>
      <a href="https://github.com/KopiSusu/"> 
      <img src='../images/github.png'></a>
    </div>
    <div class='side'>
      <a href="https://www.linkedin.com/pub/komang-luce/a8/7a9/87a"> 
      <img src='../images/linkedin.png'></a>
    </div>
  </div>
  <div class='divider'></div>
</div>


<script src="js/landingscript.js"></script>