<div class="container landing">
  <div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 class="main-title"><span>K<span class='pink'>O</span>PI</span><br> <span class="thin">SUSU</span></h1>
    <p class='main-blurb'> Stay Connected </p>
    <p class='main-blurb'> Portfolio - About - Skills </p>
  </div>
  <div class='side-bar'>
    <div class='side'><a href="https://github.com/KopiSusu/"> <img src='../images/github.png'></a></div>
    <div class='side'><a href="https://www.linkedin.com/profile/view?id=384171934&trk=nav_responsive_tab_profile_pic/"> <img src='../images/linkedin.png'></a></div>
    <div class='side'><a href="http://www.google.com/"> <img src='../images/email.png'></a></div>
  </div>
  <div class='divider'></div>
</div>


<script src="js/landingscript.js"></script>