canvas {
  width: 100%;
}

.landing {
  height: 100%;
}
.main-title {
  font-size: 5em;
  color: #42494E;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}
  .main-title span.thin {
    font-weight: 100;
    opacity: 0.8;
  }
  .main-title span.pink{
    color:#FF5F60 ;
  }
.main-blurb:first-of-type {
  top: 65%;
  border-bottom: none;
}
.main-blurb {
  color: #FF5F60;
  font-family: 'Alegreya Sans SC', sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 70%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  border-bottom: 1px solid;
}
.main-blurb span.color-change {
  transition: color 0.5s ease;
}
.main-blurb span.color-change:hover {
  color: #42494E;
}
.columns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.divider {
  position: absolute;
  border-left: 1px solid #FF5F60;
  height: 28.6%;
  left: 50%;
  bottom: 0%;
}

.landing .side-bar {
  float: left;
  width: 3%;
  position: fixed;
  top: 2%;
  left: 1.5%;
  z-index: 100;
}
.landing .side-bar .side {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.landing .side-bar .side:hover {
  opacity: 1;
}
.landing .side-bar .side p {
  position: fixed;
  left: 60px;
  margin-top: -30px;
  opacity: 1;
  transition: opacity 0.5s ease;
  font-size: 0.8em;
  font-family: 'Alegreya Sans SC', sans-serif;
}


