.skills {
  background: #42494E;
}
section.skills h1 {
  text-align: center;
  margin: 0;
  font-size: 5em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
  color: #FF5F60;
  line-height: 0.7;
}
section.skills .divider {
  top: 200%;
  border-left: 1px solid #FF5F60;
  height: inherit;
}
section.skills .below-divider {
  border-bottom: 1px solid #FF5F60;
  width: 10%;
  margin: 0% 0% 0% 45%;
  height: 20.9%;
}

.chart{
  display:table;
  table-layout: fixed;   
  
  width:90%;
  height:350px;
  margin:0 auto;
  margin-top: 2%;
  padding: 0;
  
  background-image:linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
  border-top: 1px solid #FF5F60;
  border-bottom: 1px solid #FF5F60;
}
.chart li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
}

.chart span{
    margin:0 1em;
    display: block;
    background: #E7E9EC;
    background-size: 16px 34px;
    animation: draw 1s ease-in-out;
}
.chart span:before{
      position:absolute;
      left:0;right:0;top:100%;
      padding:5px 1em 0;
      display:block;
      text-align:center;
      content:attr(title);
      word-wrap: break-word;
      font-size: 0.9em;
      font-family: 'Alegreya Sans SC', sans-serif;
      color: #FF5F60;
}
/*.chart p.ng-binding {
  transform: rotate(270deg);
  top: 40%;
  font-size: 2em;
  position: relative;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 100;
}*/

@keyframes draw{
  0%{height:0;} 
}